<h2>Import Network from Open Street Map</h2>
<p>
	<span>Restrictions</span>
	<select id="user-network-highway">
		<option value="1">Motorway only</option>
		<option value="2">Trunk and above</option>
		<option value="3">Primary Highway and above</option>
		<option value="4">Secondary Highway and above</option>
		<option value="5">Residential Roads and above</option>
		<option value="0">All Roads</option>
	</select>
</p>
<p>
	<span class="button" onclick="simulation.importFromOsm();">Create</span>
</p>