html,body,#map {
	margin: 0;
	width: 100%;
	height: 100%;
}

#ajax-indicator {
	position: fixed;
	left: 0;
	top: 0;
	background: url('../images/ajax.gif') no-repeat fixed center;
	z-index: 100000;
	display: none;
	z-index: 100000;
}

/* Menu */
#user-interface {
	position: absolute;
	padding: 4px;
	top: 64px;
	left: 8px;
	width: 180px;
	height: 360px;
	z-index: 20000;
	opacity: 0.75;
	color: #ffffff;
	background-color: #0d58a6;
}

#user-interface div {
	background-color: #ffb240;
	margin: 4px 4px;
	padding: 2px 8px;
	cursor: pointer;
}

#user-interface .sub {
	margin-left: 4px;
	background-color: #ffc773;
}

#user-interface .select {
	background-color: #ff5600;
}

#user-interface .buttons {
	margin-top: 60px;
	padding: 0;
	cursor: auto;
	background-color: transparent;
	cursor: auto;
}

#user-interface .buttons span {
	padding: 2px 6px;
	background-color: #ff5600;
	cursor: pointer;
}

/* Configuration Window */
#user-configuration {
	position: absolute;
	padding: 4px 4px 4px 10px;
	top: 64px;
	left: 200px;
	width: 500px;
	height: 360px;
	z-index: 20000;
	opacity: 0.75;
	background-color: #0d58a6;
	color: #ffffff;
	display: none;
	overflow: scroll;
}

#user-configuration h2 {
	color: #ff5600;
}

#user-configuration div {
	margin: 16px 0;
}

#user-configuration p {
	color: #ffffff;
}

#user-configuration .button {
	padding: 0;
	cursor: pointer;
	background-color: #ff5600;
}

#user-configuration span.button {
	margin-left: 4px;
	padding: 2px 6px;
}

#user-configuration textarea {
	padding-left: 8px;
	width: 480px;
	height: 200px;
	overflow: scroll;
	height: 200px;
}

/* User Online JSON Editor */
#user-editor {
	position: absolute;
	top: 64px;
	left: 200px;
	padding: 10px;
	width: 800px;
	height: 800px;
	background-color: #ffffff;
	color: #ffffff;
	opacity: 0.9;
	z-index: 20000;
	display: none;
	overflow: scroll;
}

.jsoneditor .menu {
	background-color: #0d58a6
}

/* Feedback Info */
#user-feedback {
	position: absolute;
	top: 0;
	left: 200px;
	padding: 4px 4px 0 10px;
	width: 500px;
	height: 50px;
	background-color: #0d58a6;
	color: #ffffff;
	opacity: 0.50;
	z-index: 20000;
	display: none;
}

#user-feedback .info {
	color: #ffffff;
}