<h2>Connector Info</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">finish</span>
</div>
<div>
	<table>
		<tbody>
			<tr>
				<td>From Link</td>
				<td data-th-text="${connector.fromLane.link.id}"></td>
			</tr>
			<tr>
				<td>From Lane</td>
				<td data-th-text="${connector.fromLane.lanePosition}"></td>
			</tr>
			<tr>
				<td>To Link</td>
				<td data-th-text="${connector.toLane.link.id}"></td>
			</tr>
			<tr>
				<td>To Lane</td>
				<td data-th-text="${connector.toLane.lanePosition}"></td>
			</tr>
			<tr>
				<td>Length</td>
				<td data-th-text="${#numbers.formatDecimal(connector.length, 1, 4)}"></td>
			</tr>
			<tr>
				<td colspan="2"><span
					data-th-attr="data-id=${connector.fromLane.link.id} + '-' + ${connector.fromLane.lanePosition} + '-'
					+ ${connector.toLane.link.id} + '-' + ${connector.toLane.lanePosition}"
					class="user-configuration-connector-remove button">remove
						connection</span></td>
			</tr>
		</tbody>
	</table>
</div>

