<tr data-th-fragment="info(lane)"
	data-th-attr="data-id=${lane.link.id} + '-' + ${lane.lanePosition}">
	<td data-th-text="${lane.lanePosition}"></td>
	<td data-th-text="${lane.width}"></td>
	<td data-th-text="${lane.start}"></td>
	<td data-th-text="${lane.end}"></td>
	<td data-th-text="${lane.shift}"></td>
	<td><span class="user-configuration-link-edit-lane button">edit</span><span
		class="user-configuration-link-remove-lane button">remove</span></td>
</tr>

<tr data-th-fragment="form(lane)"
	data-th-attr="data-id=${lane.link.id} + '-' + ${lane.lanePosition}">
	<td data-th-text="${lane.lanePosition}"></td>
	<td><input type="text" name="width" data-th-value="${lane.width}" /></td>
	<td><input type="text" name="start" data-th-value="${lane.start}" /></td>
	<td><input type="text" name="end" data-th-value="${lane.end}" /></td>
	<td><span data-th-text="${lane.shift}"></span></td>
	<td colspan="0"><span
		class="user-configuration-link-save-lane button">save</span><span
		class="user-configuration-link-cancel-lane button">cancel</span></td>
</tr>