<tbody data-th-fragment="form(node)" data-th-attr="data-id=${node.id}">
	<tr>
		<td>Node Id</td>
		<td colspan="0" data-th-text="${node.id}"></td>
	</tr>
	<tr>
		<td>Node Description</td>
		<td><input type="text" name="desc" data-th-value="${node.description}" /></td>
	</tr>
	<tr>
		<td>Source</td>
		<td data-th-text="${node.isSource()} ? 'Yes' : 'No'"></td>
	</tr>
	<tr>
		<td>Sink</td>
		<td data-th-text="${node.isSink()} ? 'Yes' : 'No'"></td>
	</tr>
	<tr data-th-if="${node.upstreams.isEmpty()} == false">
		<td>Upstream Links</td>
		<td data-th-each="us : ${node.upstreams}"><span
			data-th-text="${us.id}"></span></td>
	</tr>
	<tr data-th-if="${node.downstreams.isEmpty()} == false">
		<td>Downstream Links</td>
		<td data-th-each="ds : ${node.downstreams}"><span
			data-th-text="${ds.id}"></span></td>
	</tr>
	<tr>
		<td colspan="2"><span class="user-configuration-node-save button">save</span><span
			class="user-configuration-node-cancel button">cancel</span></td>
	</tr>
</tbody>