<h2>New Simulation Project</h2>
<h3>Import Network from Open Street Map</h3>
<p>
	<span>Select area on map! </span><span
		class="button user-configuration-project-select">Select</span>
</p>
<h3>Load from Saved Project</h3>
<div>
	<form method="post" action="" enctype="multipart/form-data">
		<span><input type="file" name="file" /> </span><span
			class="button user-configuration-project-import">import</span>
	</form>
</div>
<h3>Export current Project</h3>
<div>
	<span class="button user-configuration-project-export">export</span>
</div>
