<h2>Link Info</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>
<div data-th-each="link : ${links}">
	<table>
		<tbody>
			<tr>
				<td>Link Id</td>
				<td data-th-text="${link.id}"></td>
				<td><span data-th-attr="data-id=${link.id}"
					class="user-configuration-link-edit button">edit</span></td>
			</tr>
			<tr>
				<td>Link Name</td>
				<td colspan="2" data-th-text="${link.name}"></td>
			</tr>
			<tr>
				<td>Start Node</td>
				<td colspan="2" data-th-text="${link.startNode.name}"></td>
			</tr>
			<tr>
				<td>End Node</td>
				<td colspan="2" data-th-text="${link.endNode.name}"></td>
			</tr>
			<tr>
				<td>Length</td>
				<td colspan="2" data-th-text="${link.length}"></td>
			</tr>
			<tr>
				<td>Highway</td>
				<td colspan="2" data-th-text="${link.roadInfo.highway}"></td>
			</tr>
			<tr>
				<td>Road Name</td>
				<td colspan="2" data-th-text="${link.roadInfo.roadName}"></td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody data-th-each="lane : ${link.lanes}">
			<tr>
				<td>Lane</td>
				<td colspan="9" data-th-text="${lane.laneId}"></td>
			</tr>
			<tr>
				<td>width</td>
				<td data-th-text="${lane.width}"></td>
				<td>start</td>
				<td data-th-text="${lane.start}"></td>
				<td>end</td>
				<td data-th-text="${lane.end}"></td>
				<td>shift</td>
				<td data-th-text="${lane.shift}"></td>
				<td>length</td>
				<td data-th-text="${lane.length}"></td>
			</tr>
		</tbody>
	</table>
</div>