<h2>Link Edit</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">finish</span>
</div>
<div>
	<table>
		<tbody>
			<tr>
				<td>Link Id</td>
				<td data-th-text="${link.id}"></td>
			</tr>
			<tr>
				<td>Link Name</td>
				<td data-th-text="${link.name}"></td>
			</tr>
			<tr>
				<td>Start Node</td>
				<td data-th-text="${link.startNode.name}"></td>
			</tr>
			<tr>
				<td>End Node</td>
				<td data-th-text="${link.endNode.name}"></td>
			</tr>
			<tr>
				<td>Length</td>
				<td data-th-text="${link.length}"></td>
			</tr>
			<tr>
				<td>Highway</td>
				<td data-th-text="${link.roadInfo.highway}"></td>
			</tr>
			<tr>
				<td>Road Name</td>
				<td data-th-text="${link.roadInfo.roadName}"></td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody data-th-each="lane : ${link.lanes}">
			<tr>
				<td>Lane</td>
				<td data-th-text="${lane.laneId}"></td>
				<td colspan="6"><span
					data-th-attr="data-id=${link.id} + '-' + ${lane.laneId}"
					class="user-configuration-link-remove-lane button">remove</span></td>
			</tr>
			<tr>
				<td>width</td>
				<td data-th-text="${lane.width}"></td>
				<td>start</td>
				<td data-th-text="${lane.start}"></td>
				<td>end</td>
				<td data-th-text="${lane.end}"></td>
				<td>shift</td>
				<td data-th-text="${lane.shift}"></td>
			</tr>
		</tbody>
		<tr>
			<td colspan="8"><span data-th-attr="data-id=${link.id}"
				class="user-configuration-link-add-lane button">add lane</span></td>
		</tr>
	</table>
</div>