<h2>Link Info</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>
<div data-th-each="link : ${links}">
	<table>
		<tbody data-th-fragment="info(link)" data-th-attr="data-id=${link.id}">
			<tr>
				<td>Link Id</td>
				<td colspan="0" data-th-text="${link.id}"></td>
			</tr>
			<tr>
				<td>Link Name</td>
				<td colspan="2" data-th-text="${link.name}"></td>
			</tr>
			<tr>
				<td>Length</td>
				<td colspan="0"
					data-th-text="${#numbers.formatDecimal(link.length, 1, 4)}"></td>
			</tr>
			<tr>
				<td>Highway</td>
				<td colspan="0" data-th-text="${link.roadInfo.highway}"></td>
			</tr>
			<tr>
				<td>Road Name</td>
				<td colspan="0" data-th-text="${link.roadInfo.roadName}"></td>
			</tr>
			<tr>
				<td><span class="user-configuration-link-edit button">edit</span><span
					class="user-configuration-link-remove button">remove</span><span
					data-th-if="${link.reverseLink} == null"
					class="user-configuration-link-create-reverse button">create
						reverse link</span></td>
			</tr>
		</tbody>
	</table>
	<table data-th-fragment="lanes(link)" data-th-attr="data-id=${link.id}">
		<thead>
			<tr>
				<th>Lane Id</th>
				<th>width</th>
				<th>start</th>
				<th>end</th>
				<th>shift</th>
			</tr>
		</thead>
		<th:block data-th-each="lane : ${link.lanes}">
			<tr data-th-replace="components/lane-fragments :: info(${lane})">
			</tr>
		</th:block>
		<tr>
			<td colspan="8"><span
				class="user-configuration-link-add-lane button">add lane</span></td>
		</tr>
	</table>
</div>