<h2>Node Info</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>
<div>
	<table>
		<tbody data-th-fragment="info(node)" data-th-attr="data-id=${node.id}">
			<tr>
				<td>Node Id</td>
				<td data-th-text="${node.id}"></td>
			</tr>
			<tr>
				<td>Node Name</td>
				<td data-th-text="${node.name}"></td>
			</tr>
			<tr>
				<td>Source</td>
				<td data-th-text="${network.isSource(node)} ? 'Yes' : 'No'"></td>
			</tr>
			<tr>
				<td>Sink</td>
				<td data-th-text="${network.isSink(node)} ? 'Yes' : 'No'"></td>
			</tr>
			<tr data-th-if="${node.upstreams.isEmpty()} == false">
				<td>Upstream Links</td>
				<td data-th-each="us : ${node.upstreams}"><span
					data-th-text="${us.id}"></span></td>
			</tr>
			<tr data-th-if="${node.downstreams.isEmpty()} == false">
				<td>Downstream Links</td>
				<td data-th-each="ds : ${node.downstreams}"><span
					data-th-text="${ds.id}"></span></td>
			</tr>
			<tr>
				<td colspan="2"><span
					class="user-configuration-node-edit button">edit</span></td>
			</tr>
		</tbody>
	</table>
</div>

<div data-th-if="${network.isSource(node)}">
	<table>
		<tr>
			<td><h3>Vehicle Inputs</h3></td>
		</tr>
		<tbody id="user-configuration-ods-tbody">
			<th:block data-th-each="od : ${ods}">
				<tr data-th-replace="components/od-fragments :: info(${od})">
				</tr>
			</th:block>
		</tbody>
		<tbody>
			<tr data-th-attr="data-id=${node.id}">
				<td><span class="user-configuration-od-new button">new
						od</span></td>
			</tr>
		</tbody>
	</table>
</div>