<th:block data-th-fragment="view(od)">
	<td><span>Destination</span> <br /> <span
		data-th-text="${od.destination} == null ? 'None' : ${od.destination.id}"></span></td>
	<td><span>End Time </span> <br /> <span>VPH</span></td>
	<td data-th-each="time : ${od.jumpTimes}"><span
		data-th-text="${time}"></span> <br /> <span
		data-th-text="${od.vph(time)}"></span></td>
	<td colspan="0"><span data-th-attr="data-id=${od.id}"
		class="user-configuration-od-edit button">edit</span><span
		data-th-attr="data-id=${od.id}"
		class="user-configuration-od-remove button">remove</span></td>
</th:block>

<th:block data-th-fragment="edit(od, destinations)">
	<td><span>Destination</span> <br /> <span
		data-th-include="components/od-fragments :: select(${destinations})"></span></td>
	<td><span>End Time </span> <br /> <span>VPH</span></td>
	<td data-th-each="time : ${od.jumpTimes}"><input type="text"
		size="10" data-th-value="${time}" /> <br /> <input type="text"
		size="10" data-th-value="${od.vph(time)}" /></td>
	<td colspan="0"><span data-th-attr="data-id=${od.id}"
		class="user-configuration-od-add-int button">add</span><span
		data-th-attr="data-id=${od.id}"
		class="user-configuration-od-remove-int button">remove</span><span
		data-th-attr="data-id=${od.id}"
		class="user-configuration-od-save button">save</span><span
		data-th-attr="data-id=${od.id}"
		class="user-configuration-od-cancel button">cancel</span></td>
</th:block>


<th:block data-th-fragment="select(destinations)">
	<select>
		<option selected="true" value="${destinations.size()}">None</option>
		<th:block data-th-each="destination : ${destinations}">
			<option data-th-attr="value=${destination.id}"
				data-th-text="${destination.id}"></option>
		</th:block>
	</select>
</th:block>