<tr data-th-fragment="info(od)" data-th-attr="data-id=${od.id}">
	<td><span>Destination</span> <br /> <span>Composition</span></td>
	<td><span
		data-th-text="${od.destination} == null ? 'None' : ${od.destination.id}"></span><br />
		<span data-th-text="${od.vehicleComposition.name}"></span></td>
	<td><span>End Time </span> <br /> <span>VPH</span></td>
	<td data-th-each="time : ${od.jumpTimes}"><span
		data-th-text="${time}"></span> <br /> <span
		data-th-text="${od.vph(time)}"></span></td>
	<td colspan="0"><span class="user-configuration-od-edit button">edit</span><span
		class="user-configuration-od-remove button">remove</span></td>
</tr>

<tr data-th-fragment="form(od, destinations)"
	data-th-attr="data-id=${od.id}, data-is-new=${isNew}">
	<td><span>Destination</span><br /> <span>Composition</span></td>
	<td><span
		data-th-replace="components/od-fragments :: selectDestination(${destinations})"></span>
		<br /> <span
		data-th-replace="components/od-fragments :: selectComposition(${od.vehicleComposition.name}, ${vehiclecompositions})"></span></td>
	<td><span>End Time </span> <br /> <span>VPH</span></td>
	<td class="od-td" data-th-each="time : ${od.jumpTimes}"><input
		type="text" name="time" data-th-value="${time}" /> <br /> <input
		type="text" name="vph" data-th-value="${od.vph(time)}" /></td>
	<td colspan="0"><span class="user-configuration-od-add-int button">add</span><span
		class="user-configuration-od-remove-int button">remove</span><span
		class="user-configuration-od-save button">save</span><span
		class="user-configuration-od-cancel button">cancel</span></td>
</tr>


<select data-th-fragment="selectDestination(destinations)"
	name="destination">
	<option selected="true" value="-1">None</option>
	<option data-th-each="destination : ${destinations}"
		data-th-attr="value=${destination.id}"
		data-th-text="${destination.id}"></option>
</select>

<select data-th-fragment="selectComposition(current, compositions)"
	name="composition">
	<option data-th-each="composition : ${compositions}"
		data-th-attr="selected=${current.equals(composition)} ? 'true' :'false', value=${composition.name}"
		data-th-text="${composition.name}"></option>
</select>