<h2>Plug-in Management</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>
<div>
	<table>
		<tbody>
			<tr>
				<td>Simulating</td>
				<td><th:block data-th-fragment="select(simulatings)">
						<select>
							<option data-th-each="simulating : ${simulatings}"
								data-th-attr="value=${simulating}" data-th-text="${simulating}"></option>
						</select>
					</th:block></td>
			</tr>
			<tr>
				<td>Vehicle Generating</td>
				<td data-th-include=":: select(${generatings})"></td>
			</tr>
			<tr>
				<td>Routing</td>
				<td data-th-include=":: select(${routings})"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td><h3>Moving (Dynamics)</h3></td>
			</tr>
			<tr data-th-each="type : ${vehicleTypes}">
				<td data-th-text="${type.name}"></td>
				<td data-th-include=":: select(${movings})"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td><h3>Car Followings</h3></td>
			</tr>
			<tr data-th-each="type : ${vehicleTypes}">
				<td data-th-text="${type.name}"></td>
				<td data-th-include=":: select(${carfollowings})"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td><h3>Lane Changings</h3></td>
			</tr>
			<tr data-th-each="type : ${vehicleTypes}">
				<td data-th-text="${type.name}"></td>
				<td data-th-include=":: select(${lanechangings})"></td>
			</tr>
		</tbody>

	</table>
</div>