<h2>Simulator</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>
<p>
	Simulator: <span data-th-text="${simulator.name}"></span>
</p>
<p>
	Duration: <span data-th-text="${simulator.duration}"></span>
</p>
<p>
	Step size: <span data-th-text="${simulator.stepSize}"></span>
</p>
<p>
	Warmup: <span data-th-text="${simulator.warmup}"></span>
</p>
<p>
	Seed: <span data-th-text="${simulator.seed}"></span>
</p>
<div>
	<span class="user-configuration-run-simulation button">Run
		Simulation</span>
</div>