<tr data-th-fragment="info(vehicleComposition)"
	data-th-attr="data-name=${vehicleComposition.name}">
	<td><span>Name</span> <br /> <span
		data-th-text="${vehicleComposition.name}"></span></td>
	<td data-th-each="vehicleType : ${vehicleComposition.vehicleTypes}"><span
		data-th-text="${vehicleType.name}"></span> <br /> <span
		data-th-text="${#numbers.formatDecimal(vehicleComposition.probability(vehicleType),1,4)}"></span></td>
	<td colspan="0"><span
		class="user-configuration-vehicle-comp-edit button">edit</span><span
		class="user-configuration-vehicle-comp-remove button">remove</span></td>
</tr>

<tr data-th-fragment="form(vehicleComposition, vehicleTypes)"
	data-th-attr="data-name=${vehicleComposition.name}, data-is-new=${isNew}">
	<td><span>Name</span> <br /> <input type="text" name="name"
		data-th-value="${vehicleComposition.name}" /></td>
	<td class="vehiclecomposition-td"
		data-th-each="vehicleType : ${vehicleComposition.vehicleTypes}"><span
		data-th-replace="components/vehiclecomposition-fragments :: select(${vehicleTypes}, ${vehicleType})"></span>
		<br /> <input type="text" name="probablity"
		data-th-value="${vehicleComposition.probability(vehicleType)}" /></td>
	<td colspan="0"><span
		class="user-configuration-vehicle-comp-add button">add</span><span
		class="user-configuration-vehicle-comp-save button">save</span><span
		class="user-configuration-vehicle-comp-cancel button">cancel</span></td>
</tr>

<select data-th-fragment="select(vehicleTypes, selectedVehicleType)"
	name="vehicleType">
	<option data-th-each="vehicleType : ${vehicleTypes}"
		data-th-attr="selected=${selectedVehicleType.equals(vehicleType)} ? 'true' :'false', value=${vehicleType.name}"
		data-th-text="${vehicleType.name}"></option>
</select>