<h2>Vehicle Compositions</h2>
<div id="user-configuration-buttons">
	<span id="user-configuration-button-close" class="button">close</span>
</div>

<div>
	<table>
		<tbody id="user-configuration-vehicle-compositions">
			<th:block data-th-each="vehicleComposition : ${vehicleCompositions}">
				<tr
					data-th-replace="components/vehiclecomposition-fragments :: info(${vehicleComposition})">
				</tr>
			</th:block>
		</tbody>
		<tbody>
			<tr>
				<td><span class="user-configuration-vehicle-comp-new button">new</span></td>
			</tr>
		</tbody>
	</table>

</div>