<th:block data-th-fragment="view(vehicleComposition)">
	<td><span>Name</span> <br /> <span
		data-th-text="${vehicleComposition.name}"></span></td>
	<td data-th-each="vehicleType : ${vehicleComposition.vehicleTypes}"><span
		data-th-text="${vehicleType.name}"></span> <br /> <span
		data-th-text="${vehicleComposition.probability(vehicleType)}"></span></td>
	<td><span data-th-attr="data-id=${vehicleComposition.id}"
		class="user-configuration-vehicle-comp-edit button">edit</span></td>
	<td><span data-th-attr="data-id=${vehicleComposition.id}"
		class="user-configuration-vehicle-comp-remove button">remove</span></td>
</th:block>

<th:block data-th-fragment="edit(vehicleComposition, vehicleTypes)">
	<td class="vehiclecomposition-td-name"><span>Name</span> <br /> <input
		type="text" size="10" name="name"
		data-th-value="${vehicleComposition.name}" /></td>
	<td class="vehiclecomposition-td"
		data-th-each="vehicleType : ${vehicleComposition.vehicleTypes}"><span
		data-th-include="components/vehiclecomposition-fragments :: select(${vehicleTypes}, ${vehicleType})"></span>
		<br /> <input type="text" size="10"
		data-th-value="${vehicleComposition.probability(vehicleType)}" /></td>
	<td><span data-th-attr="data-id=${vehicleComposition.id}"
		class="user-configuration-vehicle-comp-add button">add</span></td>
	<td><span data-th-attr="data-id=${vehicleComposition.id}"
		class="user-configuration-vehicle-comp-save button">save</span></td>
	<td><span data-th-attr="data-id=${vehicleComposition.id}"
		class="user-configuration-vehicle-comp-cancel button">cancel</span></td>
</th:block>

<th:block data-th-fragment="select(vehicleTypes, selectedVehicleType)">
	<select>
		<th:block data-th-each="vehicleType : ${vehicleTypes}">
			<option
				data-th-attr="selected=${selectedVehicleType.equals(vehicleType)} ? 'true' :'false', value=${vehicleType.id}"
				data-th-text="${vehicleType.name}"></option>
		</th:block>
	</select>
</th:block>